@tailwind base;
@tailwind components;
@tailwind utilities;

/* ScrollBar Styles */

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #FAF1F8;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #f090d6;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #E25599;
}

::-webkit-scrollbar-thumb:active {
	background-color: #f383b9;
}


